<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hicm Express Starter Backend</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        font-family: 'Share Tech Mono', monospace;
        font-size: 2.5rem;
      }

      body {
        min-height: 100vh;
        background-color: #000;
        color: whitesmoke;
        display: grid;
        place-content: center;
        padding: 1rem;
      }
    </style>
  </head>

  <body>
    <h1>Express Starter Backend</h1>
  </body>
</html>
